@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito-Bold.ttf');
  font-display: swap;
}
