@import '../../assest/scss/mixin.scss';
@import '../../assest/scss/variables.scss';

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include defaultTitle($defaultText-color);
  margin-top: 140px;

  @media screen and (max-width: 512px) {
    max-width: 328px;
  }
}

.blockSuccess {
  @include defaultTitle($defaultText-color);
}
